<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Proyecto</h5>
				<p class="grey-text text-lighten-4">Esta aplicacion fue hecha por los alumnos de Analisis de Algoritmos</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<img class="logo responsive-img" src="/assets/img/logo.png" alt="">
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2016 Copyright Text
			<a class="grey-text text-lighten-4 right" href="http://unitec.edu" target="_blank">Unitec</a>
		</div>
	</div>
</footer>