<div class="nav">
	<nav>
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo"><img class="logo" src="/assets/img/logo.gif" alt=""></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down main_nav">
				<li><a href="/">Home</a></li>
				<li><a href="/usuarios">usuarios</a></li>
				<li><a href="http://materializecss.com/getting-started.html" target="_blank">Documentacion</a></li>
				<li><a href="http://www.w3schools.com/angular/angular_http.asp" target="_blank" >Llamados a la api</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/" >Home</a></li>
				<li><a href="/usuarios" >usuarios</a></li>
				<li><a href="http://materializecss.com/getting-started.html" target="_blank" >Documentacion</a></li>	
				<li><a href="http://www.w3schools.com/angular/angular_http.asp" target="_blank" >Llamados a la api</a></li>
			</ul>
		</div>
	</nav>
</div>