<div class="crudroles">
    <h3>Roles</h3>

    <div class="container">
        <div class="row">
            <div class="col s2">
                <label> Nombre: </label>
            </div>
            <div class="col s6">
                <input id="Name" class="input-field" ng-value="data.name"/>
                <input type="hidden" id="id" class="input-field" ng-value="data.id"/>
            </div>
        </div>
        <div class="col s6 offset-s6"><button class="btn" ng-click="save()">Guardar</button></div>
    </div>
</div>